body {
    margin: 0px; padding: 0px;
    background-color: #e4e4e4ff;

    display: grid;
    place-items: center;
    height: 100vh;
}

.contact-box {
    background-color: white;
    padding: 12px;
    max-width: fit-content;
}

.contact-header {
    text-align: center
}

label {
    display: block;
}

.subject-field {
    margin:  8px 0px
}

.email-field > input, .subject-field > input {
    width: 100%;
    height: 28px;
    padding: 4px;
    border: 1px solid #9d9d9dff;
}

.message-field > textarea {
    width: 100%;
    padding: 4px;
    border: 1px solid #9d9d9dff;
}

.contact-body > form > .form-btn > button {
    margin-top: 8px;
    height: 36px;
    padding: 4px 16px;
    border: none;
}

.contact-body > form > .form-btn > button:nth-child(1) {
    background-color: #3C93E5;
    color: white;
}
.contact-body > form > .form-btn > button:nth-child(2) {
    background-color: #ABBBC8;
    color: white
}