@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

button{
    border:none;
    padding: 12px 20px;
    border-radius: 8px;

    font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hoverbtn:hover{
    background-color: #FFE797;
    cursor: pointer;
    color: #cda41dff;
    text-shadow: 3px 3px 3px gray
}

.focusbtn:focus{
    background-color: #FFE797;
    cursor: pointer;
    color: #cda41dff;
    text-shadow: 3px 3px 3px gray
}

.activebtn:active{
    background-color: #ffe797ff;
    cursor: pointer;
    color: #cda41dff;
    text-shadow: 3px 3px 3px gray
}