:root {
    /* information card variables */
    --box-space: 8px;
    --box-radius: 8px;
    --border-left: 2px solid purple;
    --box-shadow: 3px 3px 5px purple;
}
.info-msg {
    padding: var(--box-space);
    border-radius: var(--box-space);
    border-left: var(--border-left);
    box-shadow: var(--box-shadow)
}

.card {
    padding: var(--box-space);
    border-radius: var(--box-space);
    background-color: #f1f1f1;
    color: purple
}