nav {
    margin: 12px auto;
    width: fit-content;
    background-color: #333;

    padding: 8px 12px;
    border-radius: 50px;

    display: flex;
    align-items: center;
    gap: 16px;

}

nav > .brand{
    color: red;
    width: fit-content;
    background-color: #f1f1f1;
    padding: 20px;

    border-radius: 50px;
}

ul {
    list-style: none;
    padding: 0px
}

ul > li {
    display: inline
}

ul > li > a {
    padding: 8px 12px;
    color: #f1f1f1;
    text-decoration: none;

    transition: .5s;
}

ul > li > a:hover {
    color: #ccc;
    background: brown;
    border-radius: 50px;
}

/* ul > li > a:visited {
    color: red; */
/* } */

nav > .cta > button {
    background-color: #999;
    color: red;
    padding: 8px 12px;
    border: none;
    border-radius: 50px
}