body {
    background-color: white;
    color: black;
}
p {
    display: none;
}
@media (width <= 420px){
    body {
        background-color: red;
        color: #f1f1f1;
    }
    p {
        display: block;
        font-size: 20px;
    }
}
@media (width > 420px) and (width <= 768px){
    body {
        background-color: #333;
        color: #f1f1f1;
    }
    p {
        display: block;
    }
}

@media (width > 768px) and (width <= 1024px) {
    body {
        background-color: yellowgreen;
        color: #333;
    }
}