body {
    background-color: white;
    color: black;

}
p {
    display: none;
}
@media (width <= 420px) and (width <= 768px){
    body {
        background-color: red;
        color: #f1f1f1;
    }
    p {
        display: block;
    }
}

@media screen and (min-width: 420px) and (max-width: 768px) {
    body {
        background-color: #333;
        color: #f1f1f1;
    }
    p {
        font-size: 9px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        background-color: yellowgreen;
        color: #333;
    }
}