a {
  color: #333;
  position: relative;
}

a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  background-color: red;
  height: 4px;
  width: 0px;
  border-radius: 50px;
  transition: 0.3s;
}

a:hover::before {
  width: 40px;
}
