@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
  margin: 0px;
  padding: 0px;
  background-color: #e1e7e9;

  
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.product-box {
  display: grid;
  place-items: center;
  height: 100vh;
}
.product-card {
  width: 300px;
  border-radius: 8px;
  background-color: white;

  box-shadow: 0px 0px 5px #ccc;
}
.fa-solid{
    color: #186d45;
    font-size: 11px;
}
.subtitle {
    color: #333;
    margin-top: 2px;
    font-size: 11px;
}
.product-box > .product-card > .card-header {
  background-image: url("../images/watch.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  position: relative;
}

.sample-text{
    position: absolute;
    right: 4px;
    top: 4px;
    background-color: white;
    color: #333;
    padding: 4px;
    border-radius: 8px;
    width: fit-content;

}
.product-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-data > span {
  display: block;
}
.card-body,
.card-footer {
  padding: 8px;
}
.btn-purchase {
  background-color: #186d45;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 8px 12px;
}
.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
