body {
    background-color: #F2F8FD
}

.profile-container {
    background-color: white;
    padding: 12px;
    width: fit-content;
    border-radius: 8px;
    box-shadow: 0px 8px 0px #E6EFFA 
}

.profile-inner{
    display: flex;
    align-items: start;
    gap: 8px;
}

.profile-inner > .profile > img {
    border-radius: 50px;
    height: 56px;
    width: 56px;
    object-fit: cover
}

.profile-inner > .bio > label {
    font-weight: bold;
    font-size: 20px;
}
.designation {
    margin-top: -1px;
    font-size: 11px;
}